.women-clothing {
background-color: #f7b2fc;
}

.men-clothing {
    background-color: #c0d5f7;
}

.unavailable-products {
    background-color: #DCDCDC;
}

.card {
    background-color: white;
}

.product-image {
    background-color: white;
}

.product-details {
    color: #3F3F3F;
}

.buttons {
    text-align: center;
}

